@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: #71a5de;
  font-size: 10px;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  white-space: nowrap;
}

body h2,
body span,
body h3 {
  color: #002d67;
  font-weight: 600;
  font-size: 1em;
}

button {
  transition: all 0.5s;
  border-radius: 4px;
  color: #002d67 !important;
  background-color: #c2e2ea !important;
  cursor: pointer;
  text-align: center;
  flex: 0 1 25%;
  font-weight: 600;
  font-size: 1em;
}

button:active {
  transform: scale(0.96);
  background: #72bbce !important;
}

button:focus {
  outline: 0;
}

.fullWebsite {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 2rem;
}

.quote {
  white-space: break-spaces;
  margin: 2rem 3rem;
  font-style: italic;
  color: #002d67;
  font-weight: 600;
  font-size: 1em;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  gap: 0.2rem;
  justify-content: center;
  align-self: stretch;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #72bbce;
  padding: 0.25rem;
  align-self: stretch;
}

.navBar h2 {
  font-weight: 700 !important;
  font-size: 1em;
}

.navBar div {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  gap: 1rem;
}

.navBar div span {
  align-self: center !important;
}

.author {
  margin-top: 0.3rem;
  font-weight: 700;
  font-style: oblique;
}

.mainSect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.HomeComponent {
  text-align: left;
  white-space: normal !important;
  margin: 2rem 3rem;
}

.HomeComponent h2 {
  font-size: 1.2em;
  font-weight: 600;
}

.HomeComponent p {
  font-size: 1em;
  margin-left: 0.5rem;
}

.HomeComponent ol li {
  font-size: 1em;
  margin-left: 3rem;
}

.notFound {
  margin: 3rem auto;
  border-radius: 4px;
  padding: 4rem;
  font-size: 2em;
  font-weight: 800;
  color: white;
  background: #72bbce;
}

.ContactComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

#CalculatorContainer {
  margin-top: 2rem;
  max-width: 250px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  background-color: #aecbeb;
  border-radius: 4px;
  gap: 0.1rem;
  padding: 0.3rem;
}

::placeholder {
  color: #aecbeb;
  font-weight: 600;
}

#CalcInput {
  flex: 0 1 11%;
  text-align: right;
  border-radius: 4px;
  border: none;
  background: #335c81;
  padding: 0.5rem;
  color: #aecbeb;
}

#CalcInput:active {
  border: none;
}

#CalcInput:focus {
  outline: 0;
}

.link {
  transition: all 0.5s;
  opacity: 0.6;
  cursor: pointer;
  border: none;
  background: none !important;
  color: #002d67;
}

.link:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #002d67 !important;
}

.link:focus {
  outline: 0;
}

#Btns {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.operator {
  background: #f5b82e !important;
}

#zero {
  flex: 0 1 50%;
}

footer {
  position: relative;
  top: auto;
  bottom: 0;
  padding: 0.2rem;
  border: 2px solid #72bbce;
}

footer a {
  transition: all 0.5s;
  opacity: 0.6;
  cursor: pointer;
  border: none;
  color: blue;
}

footer a:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #002d67 !important;
}

footer a:focus {
  outline: 0;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .navBar {
    padding: 0.2rem 1.5rem;
  }

  #CalculatorContainer {
    margin: 3rem;
  }
}

@media (min-width: 999px) {
  body {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 30px;
  }
}
